
.DS_Store
doc/aqlmanual/aqlmanual.aux
doc/aqlmanual/aqlmanual.log
doc/aqlmanual/aqlmanual.out
doc/aqlmanual/aqlmanual.pdf
doc/aqlmanual/aqlmanual.synctex.gz
doc/aqlmanual/aqlmanual.toc
/target/

.classpath
.idea/
.project
.settings/
.vscode/
fql.iml
*.dvi
